<div class="summary-nav col-xs-12">
    <div class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li><a href="">
                Following
                <strong>{{user.counts.follows}}</strong>
            </a></li>
            <li><a href="">
                Snaps
                <strong>{{user.counts.media}}</strong>
            </a></li>
            <li><a href="">
                Followers
                <strong>{{user.counts.followed_by}}</strong>
            </a></li>
        </ul>
    </div>
</div>