@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/buttons";

// Base styles
// --------------------------------------------------

.btn {
  border: none;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, 0);

  &:hover,
  &:focus {
    color: #fff;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
}
