// Base
#main {
    overflow-x: hidden;
}

// Columns
.col-inner {
    position: relative;
}

.col-side.col-left {
    position: relative;

    @media (min-width: $screen-sm-min) {
        position: fixed;
        background: #fff;
        height: 100%;
        top: 52px;
    }
}

.col-main {
    @media (min-width: $screen-sm-min) {
        top: 52px;
        margin-left: 50%;
    }

    @media (min-width: $screen-md-min) {
        margin-left: 50%;
    }

    @media (min-width: $screen-lg-min) {
        margin-left: 33.333%;
    }
}

.fade-transition.ng-enter {
    animation:fadeIn 1s;
}
.fade-transition.ng-enter-active {
    animation:fadeIn 1s;
}
.fade-transition.ng-leave {
    animation:fadeOut 1s;
}
.fade-transition.ng-leave-active {
    animation:fadeOut 1s;
}

.slide-transition {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slide-transition.ng-enter {
    animation:fadeInRightBig 1s;
}

.slide-transition.ng-leave {
    animation:fadeOutRightBig 1s;
}