.profile {
    h4 {
        font-size: ceil(($font-size-base * 1.5)); // ~24px
        margin-bottom: 5px;
    }

    h5 {
        font-weight: 300;
        font-size: 1em; // ~16px
        margin-top: 0;
    }

    .profile-details {
        margin-left: 170px;
    }

    .profile-image {
        width: 140px;
        float: left;
        margin: -80px 0 0 15px;
        position: relative;
        z-index: 5;
    }
}